$color-white: #ffffff;
$color-black: #141024;
$color-black-2: #141024b2;
$color-red: #d52027;

$color-primary: $color-black;
$color-secondary: $color-white;

.color-primary {
  color: $color-primary;
}
.color-secondary {
  color: $color-secondary;
}
